body{
    background-color: whitesmoke;
}
.regform{
    background-color: white;
    box-shadow: 1px 10px 20px 10px grey;
    border-radius: 20px;
    margin: 50px;
    align-items: center;
    width: 30%;
}

.form{
    padding: 20px 40px;
}

.form input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}